---
layout: default
title: "Wiki"
description: "ArrowOS official devices wiki"
---

<div class="article-list-device-tag-footer">
    <div class="article-list-device-tag">      
    {% for device in site.deviceAbout %}
    {% if device.slug and device.slug != blank %}
        <a href="{{ device.url | relative_url }}" title="See all posts of this device"><span class="dott">{{ device.slug }}</span></a>
    {% endif %}
    {% endfor %}
    </div>
</div>

<ul class="article-list">
  {% for device in site.deviceAbout %}
    <li class="article-list-item {% if site.scrollappear_enabled %}scrollappear{% endif %}">
      <a href="{{ device.url | relative_url }}" title="{{ device.title }}">
        <h5>
          {{ device.title }} {% if device.status %} [{{ device.status }}] {% endif %}
          {% include svg-icon.html icon="arrow-right" %}
        </h5>
      </a>
      <p>
        {% if device.description %}
          {{ device.description }}  
        {% else %}
          {{ device.excerpt }}
        {% endif %}
      </p>
    </li>
  {% endfor %}
</ul>
